<?xml version="1.0" encoding="utf-8"?>
<autofac defaultAssembly="CPSS.Common.Core.DataAccess">
  <components>
    <component type="CPSS.Common.Core.DataAccess.OwnSqlDbConnection, CPSS.Common.Core.DataAccess" service="System.Data.IDbConnection, System.Data" instance-scope="per-dependency" />
  </components>
</autofac>
