<?xml version="1.0" encoding="utf-8"?>
<autofac defaultAssembly="CPSS.Service.ViewService">
  <components>
		<!--DataAccess-->
		<component type="CPSS.Data.DataAccess.departmentDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IdepartmentDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.employeeDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IemployeeDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.subcompanyDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IsubcompanyDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.HeadButtons.HeadButtonsDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.HeadButtons.IHeadButtonsDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.clientDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IclientDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.productDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IproductDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.snstorageDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IsnstorageDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.storageDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IstorageDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.unitDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IunitDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.MainPage.LeftNavMenuDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.MainPage.ILeftNavMenuDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.MenuRight.MenuRightCheckDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.MenuRight.IMenuRightCheckDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.MongoDB.MongoDbDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.MongoDB.IMongoDbDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.SystemParameterConfig.SystemParameterConfigDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.SystemParameterConfig.ISystemParameterConfigDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.User.CompanyInfoDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.User.ICompanyInfoDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.User.SigninUserDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.User.ISiginUserDataAccess,CPSS.Data.DataAccess.Interfaces" />

		<!--View Service-->
		<component type="CPSS.Service.ViewService.Basic.DepartmentViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.Basic.IDepartmentViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.Basic.EmployeeViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.Basic.IEmployeeViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.Basic.SubCompanyViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.Basic.ISubCompanyViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.Common.CommonAjaxViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.Common.ICommonAjaxViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.HeadButtons.HeadButtonsViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.HeadButtons.IHeadButtonsViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.MainPage.LeftNavMenuViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.MainPage.ILeftNavMenuViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.MenuRight.MenuRightCheckViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.MenuRight.IMenuRightCheckViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.SystemParameterConfig.SystemParameterConfigViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.SystemParameterConfig.ISystemParameterConfigViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.User.CompanyInfoViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.User.ICompanyInfoViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.User.SigninUserViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.User.ISigninUserViewService,CPSS.Service.ViewService.Interfaces" />
	</components>
</autofac>