<?xml version="1.0" encoding="utf-8"?>
<autofac defaultAssembly="CPSS.Service.ViewService">
  <components>
		<!--DataAccess-->
		<component type="CPSS.Data.DataAccess.AccountDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IAccountDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.ClientsDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IClientsDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.CompanyDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.ICompanyDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.DepartmentDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IDepartmentDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.EmployeesDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.IEmployeesDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.User.CompanyInfoDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.User.ICompanyInfoDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.User.SigninUserDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.User.ISiginUserDataAccess,CPSS.Data.DataAccess.Interfaces" />
		<component type="CPSS.Data.DataAccess.MainPage.LeftNavMenuDataAccess, CPSS.Data.DataAccess" service="CPSS.Data.DataAccess.Interfaces.MainPage.ILeftNavMenuDataAccess,CPSS.Data.DataAccess.Interfaces" />

		<!--View Service-->
		<component type="CPSS.Service.ViewService.User.CompanyInfoViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.User.ICompanyInfoViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.User.SigninUserViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.User.ISigninUserViewService,CPSS.Service.ViewService.Interfaces" />
		<component type="CPSS.Service.ViewService.MainPage.LeftNavMenuViewService, CPSS.Service.ViewService" service="CPSS.Service.ViewService.Interfaces.MainPage.ILeftNavMenuViewService,CPSS.Service.ViewService.Interfaces" />
	</components>
</autofac>