@{
    Layout = null;
    this.WorkContext.Resource
        .AddPageCss("main/left-nav")
        .AddPageScripts("main/mainhelper");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <title>Index</title>
    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
    <style>
        html body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="easyui-layout" id="main_layout" data-options="minWidth: '1024px', minHeight:'700px'">
    <div data-options="region:'north', minHeight: '100px', maxHeight:'100px'"></div>
    
    <div data-options="region:'west', title: '导航菜单', split: true, minWidth: '190px', maxWidth:'190px', collapsible: false">
        <div id="left_nav" class="easyui-accordion" data-options="fit:true, border:false">
            @{
                Html.RenderAction("leftnavmenu", "commonpartial");
            }
        </div>
    </div>
    
    <div data-options="region:'center', minHeight: '566px', minWidth: '834px'">
        <div id="main_tabs" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="首页">
                <iframe id="frm_about" scrolling="no" frameborder="0" src="/main/defaulthome" style="width:100%;"></iframe>
            </div>
            <div title="demo">
                <iframe id="frm_about_demo" scrolling="no" frameborder="0" src="/systemparameterconfi/index" style="width:100%;"></iframe>
            </div>
        </div>
    </div>

    <div data-options="region:'south', split: true, minHeight: '34px', maxHeight:'34px'"></div>
</div>

@foreach (var script in WorkContext.Resource.JavaScript)
{
<script type="text/javascript" src="@script"></script>
}

<script type="text/javascript">
    var contentWidth;// = $($("#main_layout").layout("panel", "center")).css("width");

    $(window)
        .resize(function() {
            var height = $(window).height();
            $("#main_layout").attr("style", "width:100%; height:" + height + "px");
            $("#main_layout")
                .layout("resize",
                {
                    width: "100%",
                    height: height + "px"
                });
            contentWidth = $($("#main_layout").layout("panel", "center")).css("width");
        });
</script>
</body>
</html>