@{
    Layout = null;
    this.WorkContext.Resource.AddPageScripts("main/mainhelper");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
    <style>
        html body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="easyui-layout" id="main_layout" data-options="minWidth: '1024px', minHeight:'768px'">
    <div data-options="region:'north', minHeight: '100px', maxHeight:'100px'"></div>

    <div data-options="region:'west', title: '导航菜单', split: true, minWidth: '180px', maxWidth:'180px', collapsible: false">
        <div id="left_nav" class="easyui-accordion" data-options="fit:true, border:false">
            <div class="easyui-panel" data-options="title:'行业动态', minWidth: '173px', maxWidth: '173px'" style="border: 0;">
                <ul>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="javascript:void(0);" onclick="CSPPLib.Main.TabsHelper.addTab('政策法规', '/Information/PolicyLaw', null);" rel="">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="easyui-panel" data-options="title:'行业动态1', minWidth: '173px', maxWidth: '173px'" style="border: 0;">
                <ul>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告1</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息1</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="easyui-panel" data-options="title:'行业动态2', minWidth: '173px', maxWidth: '173px'" style="border: 0;">
                <ul>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="3fc759db-d740-4938-baf9-350a66cfdf5b" href="#" rel="/Information/PolicyLaw">
                                <span class="icon icon-word">&nbsp;</span><span class="nav">政策法规2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="28878102-5426-470f-8aca-aac374612e62" href="#" rel="/Information/Information">
                                <span class="icon icon-house">&nbsp;</span><span class="nav">通知公告2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a ref="0fceb065-7548-476f-882a-ec043f81e4c1" href="#" rel="/Information/IndustryNews">
                                <span class="icon icon-view">&nbsp;</span><span class="nav">动态信息2</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div data-options="region:'center', minHeight: '633px', minWidth: '844px'">
        <div id="main_tabs" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="About"></div>
            <div title="DataGrid" data-options="closable:true">
            </div>
        </div>
    </div>

    <div data-options="region:'south', split: true, minHeight: '35px', maxHeight:'35px'"></div>
</div>

@foreach (var script in WorkContext.Resource.JavaScript)
{
<script type="text/javascript" src="@script"></script>
}

<script type="text/javascript">
    $(document)
        .ready(function() {
            var height = $(window).height();
            $("#main_layout").attr("style", "width:100%; height:" + height + "px");
            $("#main_layout")
                .layout("resize",
                {
                    width: "100%",
                    height: height + "px"
                });

            //初始化Accordion的Panel默认高度
            CSPPLib.Main.PanelHelper.setPanelHeight();
        });

    $(window)
        .resize(function() {
            var height = $(window).height();
            $("#main_layout").attr("style", "width:100%; height:" + height + "px");
            $("#main_layout")
                .layout("resize",
                {
                    width: "100%",
                    height: height + "px"
                });
        });

    //CSPPLib.Main.Accordion.InitAccordion({
    //    id: "left_nav",
    //    data: [
    //        {
    //            title: "行业动态",
    //            menus: [
    //                { menuid: 1, onClick: "alter('1');", icon: "icon-table", menuName: "菜单菜单1" },
    //                { menuid: 2, onClick: "alter('2');", icon: "icon-table", menuName: "菜单菜单2" },
    //                { menuid: 3, onClick: "alter('3');", icon: "icon-table", menuName: "菜单菜单3" }
    //            ],
    //            icon: ""
    //        },
    //        {
    //            title: "行业标准",
    //            menus: [
    //                { menuid: 4, onClick: "alter('4');", icon: "icon-table", menuName: "菜单菜单4" },
    //                { menuid: 5, onClick: "alter('5');", icon: "icon-table", menuName: "菜单菜单5" },
    //                { menuid: 6, onClick: "alter('6');", icon: "icon-table", menuName: "菜单菜单6" }
    //            ],
    //            icon: ""
    //        }
    //    ]
    //});
</script>
</body>
</html>