@{
    Layout = null;
    WorkContext.Resource
        .AddPageCss("main/left-nav")
        .AddPageScripts("ligerui-1.3.3/js/plugins/ligerlayout", "main/mainhelper");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
    <style>
        html body {
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
<div id="main_container_layout" style="min-width: 1024px; min-height: 768px;">
    <div position="left" title="导航菜单"></div>
    <div position="center" title="标题">
        <h4>$("#layout1").ligerLayout(); </h4>
        默认为固定layout的高度百分一百
    </div>
    @*<div position="right"></div>*@
    <div position="top"></div>
    <div position="bottom"></div>
</div>

@foreach (var script in WorkContext.Resource.JavaScript)
{
    <script type="text/javascript" src="@script"></script>
}
</body>
</html>