@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
    <style>
        html body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="easyui-layout" id="main_layout" style="min-width: 1024px; min-height: 768px;">
    <div data-options="region:'north', split: true" style="height: 130px"></div>

    <div data-options="region:'west', title: '导航菜单', split: true" style="width: 180px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="Title1" style="padding: 10px;">
                content1
            </div>
            <div title="Title2" data-options="selected:true" style="padding: 10px;">
                content2
            </div>
            <div title="Title3" style="padding: 10px">
                content3
            </div>
        </div>
    </div>
    
    <div data-options="region:'center'">
        <div class="easyui-tabs" data-options="fit:true,border:false,plain:true, narrow:false, pill: true,justified: false">
            <div title="About" style="padding: 10px"></div>
            <div title="DataGrid" style="padding: 10px" data-options="closable:true">
            </div>
        </div>
    </div>

    <div data-options="region:'south', split: true" style="height: 50px;"></div>
</div>

@foreach (var script in WorkContext.Resource.JavaScript)
{
<script type="text/javascript" src="@script"></script>
}

<script type="text/javascript">
    $(document)
        .ready(function() {
            var height = $(window).height();
            $("#main_layout").attr("style", "width:100%; height:" + height + "px");
            $("#main_layout")
                .layout("resize",
                {
                    width: "100%",
                    height: height + "px"
                });
        });

    $(window)
        .resize(function() {
            var height = $(window).height();
            $("#main_layout").attr("style", "width:100%; height:" + height + "px");
            $("#main_layout")
                .layout("resize",
                {
                    width: "100%",
                    height: height + "px"
                });
        });
</script>
</body>
</html>