<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="EnyimMemcached">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <EnyimMemcached>
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11212"/>
      </servers>
      <socketPool minPoolSize="100" maxPoolSize="10000"/>
    </memcached>
  </EnyimMemcached>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
