@model  List<CPSS.Service.ViewService.ViewModels.HeadButtons.Respond.RespondHeadButtonsViewModel>

<div id="billbutton" class="easyui-panel" data-options="border: false"
     style="background: #2f4f4f; line-height: 35px; max-height: 35px; min-height: 35px; padding-right: 5px; text-align: right;">
    @foreach (var model in Model)
    {
        @UIHelper.linkButton(model.ButtonText, model.ButtonName)
    }
    @*@UIHelper.linkButton("测试测试2", "button_test2")*@
</div>