@{
    ViewBag.Title = "Index";
}

<div id="sadfalsdkfasdl" class="easyui-tabs" data-options="fit:true, border:false, tabPosition: 'bottom', plain: true">
    <div title="demo1">
        asdfalsdkfasdlf
    </div>
    <div title="demo1">
        asdlkfawlekrwalkds
    </div>
</div>