@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <title>Signin</title>

    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="easyui-panel" id="main_signin_container" data-options="fit:true, border: false">
    <div id="signin_container" class="easyui-panel" title="Signin" style="width: 500px; padding: 30px 60px;">
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" id="txt_user_name" style="width:100%;height:40px;padding:12px" 
                   data-options="prompt:'Username',iconCls:'icon-man',iconWidth:38">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" id="txt_user_pwd" type="password" style="width:100%;height:40px;padding:12px" 
                   data-options="prompt:'Password',iconCls:'icon-lock',iconWidth:38">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" id="txt_valid_code" style="width:100%;height:40px;padding:12px"
                   data-options="prompt:'验证码', iconWidth:38, icons:[{iconCls:'icon-large-picture'}]">
            <img alt="" id="imgvalidcode" src="/verifycodeimage/index" style="display: none;"/>
        </div>
        <div style="margin-bottom:20px">
            <input type="checkbox" id="chkRememberme">
            <span>Remember me</span>
        </div>
        <div>
            <a href="javascript:void(0);" class="easyui-linkbutton" id="btnLogin" data-options="iconCls:'icon-ok'" style="padding:5px 0;width:100%;">
                <span style="font-size:14px;">Login</span>
            </a>
        </div>
    </div>
</div>
    
    @foreach (var script in WorkContext.Resource.JavaScript)
    {
        <script type="text/javascript" src="@script"></script>
    }
<script type="text/javascript">
    function resize() {
        var _panel = $("#main_signin_container").panel(),
            _options = _panel.panel("options"),
            _width = $("#signin_container").width(),
            _height = $("#signin_container").height(),
            _padding_left = parseInt($("#signin_container").css("padding-left")),
            _padding_right = parseInt($("#signin_container").css("padding-right")),
            _padding_top = parseInt($("#signin_container").css("padding-top")),
            _padding_bottom = parseInt($("#signin_container").css("padding-bottom"));

        $("#signin_container").panel({
            style: {
                position: "fixed",
                left: (_options.width - _width - _padding_left - _padding_right) / 2,
                top: (_options.height - _height - _padding_top - _padding_bottom) / 2
            }
        });
    }

    $(document.body).ready(function () {
        var remember = CPSSLib.Utils.LocalStorage.getCookie("user_login_name_remember");
        if (remember && remember.length > 0) {
            var _checked = remember.split(",")[0],
                _user_name_ = remember.split(",")[1];
            if (_checked === "true") $("#chkRememberme").prop("checked", true);
            $("#txt_user_name").textbox("setValue", _user_name_);
        }
        resize();

        $("#btnLogin").linkbutton({
            onClick: function() {
                var _user_name = $("#txt_user_name").textbox("getValue"),
                    _user_pwd = $("#txt_user_pwd").textbox("getValue"),
                    _valid_code = $("#txt_valid_code").textbox("getValue"),
                    _chk_remember_me = $("#chkRememberme").prop("checked");
                if (_chk_remember_me) {
                    CPSSLib.Utils.LocalStorage.setCookie("user_login_name_remember", [_chk_remember_me, _user_name].join(","));
                }
                CPSSLib.Utils.AjaxRequest.postData("/signin/login",
                {
                    UserName: _user_name,
                    UserPwd: _user_pwd,
                    ValidCode: _valid_code
                }, function(result) {
                    //_msgbox.alert(result.ErrorMessage);
                    if (result.ErrorCode === 0) {
                        /*
                        var tmpForm = document.createElement("form");
                        document.body.appendChild(tmpForm);
                        tmpForm.method = "post";
                        tmpForm.action = "/main/index";
                        tmpForm.target = "_self";

                        var user = result.Data.CurrentUser;
                        for (var pro in result.Data.CurrentUser) {
                            if (result.Data.CurrentUser.hasOwnProperty(pro)) {
                                var _element = document.createElement("input");
                                _element.setAttribute("id", pro);
                                _element.setAttribute("name", pro);
                                _element.setAttribute("type", "hidden");
                                _element.setAttribute("value", user[pro]);
                                tmpForm.appendChild(_element);
                            }
                        }
                        tmpForm.submit();
                        */
                        window.location.href = "/main/index?userid=" + result.rows.CurrentUser.UserID_g;
                    } else
                        _msgbox.error(result.ErrorMessage);
                }, function(result) {
                });
            }
        });

        var _tooltip;
        $("#txt_valid_code").textbox({
            events: {
                focus: function () {
                    _tooltip = $(this)
                        .tooltip({
                            position: "bottom",
                            content: $("#imgvalidcode"),// '<img src="/verifycodeimage/index?rnd=' + Math.random() + '" alt=""/>',
                            showDelay: 50,
                            deltaX: -100
                            //,trackMouse: true //设置该属性tooltip将跟随鼠标在控件内移动而移动
                        });
                    _tooltip.tooltip("show");
                    $("#imgvalidcode").show();
                }
            },
            onClickIcon: function () {
                if (_tooltip) {
                    $("#imgvalidcode").attr("src", "/verifycodeimage/index?rnd=" + Math.random());
                    _tooltip
                        .tooltip({ content: $("#imgvalidcode") });
                    _tooltip.tooltip("show");
                } else $("#txt_valid_code").focus();
            }
        });

    });

    $(window).resize(function () {
        resize();
    });
</script>
</body>
</html>