<?xml version="1.0" encoding="utf-8"?>
<DbConnectionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<Server>.\mssqlserver2014</Server>-->
  <Server>.\mssqlserver2012</Server>
  <Database>testdb</Database>
  <ConnectTimeout>60</ConnectTimeout>
  <UserID>dbadmin@zyctd</UserID>
  <Password>DB168Adm#@168.com</Password>
</DbConnectionConfig>