<?xml version="1.0" encoding="utf-8"?>
<DbConnectionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<Server>.\mssqlserver2014</Server>-->
  <Server>.</Server>
  <Database>master</Database>
  <ConnectTimeout>60</ConnectTimeout>
  <!--<UserID>dbadmin@zyctd</UserID>-->
  <UserID>sa</UserID>
  <!--<Password>DB168Adm#@168.com</Password>-->
<Password>000000</Password>
</DbConnectionConfig>