<?xml version="1.0" encoding="utf-8"?>
<DbConnectionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Server>.\mssqlserver2014</Server>
  <!--<UserID>dbadmin@zyctd</UserID>
  <Password>DB168Adm#@168.com</Password>
  <Server>.</Server>-->
  <UserID>sa</UserID>
  <Password>000000</Password>
  <Database>cpssmaster</Database>
  <ConnectTimeout>60</ConnectTimeout>
</DbConnectionConfig>